.footer_section {
  background-color: #f8f9fa;
  padding: 60px 0;
  color: #333;
}

.footer_section .footer_title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: #0D4C90;
}


.footer_section .footer_subtitle {
  font-size: 1.2rem;
  margin-top: 20px;
  font-weight: 600;
}

.footer_section .about_us_text {
  margin-bottom: 20px;
  color: #666;
}

.footer_section .social_icons_list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
}

.footer_section .social_icons_list li {
  display: inline;
}

.footer_section .footer_icon {
  font-size: 1.5rem;
  color: #0D4C90;
  transition: color 0.3s;
}

.footer_section .footer_icon:hover {
  color: #0056b3;
}

.footer_section .useful_links {
  padding: 0;
  list-style: none;
}

.footer_section .useful_links li {
  margin-bottom: 10px;
}

.footer_section .link_footer {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.footer_section .link_footer:hover {
  color: #0D4C90;
}

.footer_section .contact_info {
  color: #666;
}

.footer_section .contact_info div {
  margin-bottom: 10px;
}

.footer_section .footer_icon {
  margin-right: 10px;
}

.copyright_section {
  background-color: #e9ecef;
}

.copyright_text {
  margin: 0;
  color: #666;
}

