.footer_section {
  width: 100%;
  background-color: #0d4c90;
  height: auto;
}

.footer_logo {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location_main {
  font-size: 16px;
  color: #ffffff;
}

.location_main a {
  color: #ffffff;
}

.copyright_section {
  width: 100%;
  display: flex;
  background-color: #0d4c90;
  height: auto;
}

.copyright_text {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin: 20px 0px;
}
.footer_text {
  color: #ffffff !important;
  font-size: 18px;
  margin: 10px;
}

.footer_icon {
  color: #ffffff !important;
  font-size: 17px;
}
