.footer_section {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added shadow */
}

.footer_logo {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location_main {
  font-size: 16px;
  color: #0d4c90 !important;
}

.copyright_section {
  width: 100%;
  display: flex;
  background-color: #0d4c90;
  /* height: auto; */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Added shadow */
}

.copyright_text {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin: 20px 0px;
}

.footer_text {
  color: #0d4c90 !important;
  font-size: 18px;
  margin: 10px;
}

.footer_icon {
  color: #0d4c90 !important;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px; /* Fixed box-shadow */
}

.footer_title {
  color: #0d4c90 !important;
  font-size: 18px;
}

.link_footer {
  color: #0d4c90 !important;
}

@media (max-width:768px) {
  .footer_social_icons {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
  }
}
