.sidebar-expanded .sidebar {
  width: 250px;
  height: 100vh;
}

.sidebar-collapsed .sidebar {
  width: 70px;
  height: 100vh;
  transition: width 0.5s;
}
.sidebar-collapsed .side_icon {
  width: 40px;
  height: 40px;
  transition: width 0.5s;
}

.sidebar-expanded .page-content {
  transition: margin-left 0.5s;
}

.sidebar-collapsed .page-content {
  transition: margin-left 0.5s;
}

.sidebar {
  transition: width 0.5s;
}

.page-content {
  width: 100%;
  transition: margin-left 0.5s;
}

.sidebar .nav-link {
  padding: 10px 20px;
  color: #191c24;
  font-weight: 500;
  border-left: 3px solid #f3f6f9;
  border-radius: 0 30px 30px 0;
  outline: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-link:hover,
.nav-link.active {
  color: var(--primary);
  background-color: #ffffff !important;
  border-color: var(--primary);
  cursor: pointer;
}
.side_icon {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 40px;
}

.nav_right {
  margin-right: 40px;
}

.nav-icon {
  height: 27px;
  color: blue;
}

.icon {
  width: 40px;
  height: 40px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  line-height: 0;
}

.admin_font {
  font-size: 13px;
  color: #969494;
}
